.header {
  line-height: 50px;
  text-align: center;
  background: #222;
  color: white;
}

.page-footer {
  height: 50px;
  text-align: center;
  background: #222;
}

.router-outlet-wrapper{
  padding: 15px 20%;
  width: 60%;
  min-height: calc(100vh - 130px);
}

